/*
	COLOUR PALETTE

	White        #fff;
	Red          #c54b3c
    Navy         #393b47;
	Off-Black    #2b2e37;
*/

body {
    font-family: 'Assistant', sans-serif;
}


/* Typography */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

header{
	margin-bottom: 1.5rem;
	background-color: #c54b3c;
	color: #fff;
	font-family: 'Assistant', sans-serif;
}
/* Mobile View */



/* Medium View */



/* Largest View */

